name: Deploy

on:
    push:
        branches: 
            - main

jobs:
    Deploy:
        runs-on: Ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - name: Deploy Using ssh
              uses: appleboy/ssh-action@master
              with:
                host: ${{ secrets.SSH_HOST }}
                username: ${{ secrets.SSH_USERNAME }}
                key: ${{ secrets.SSH_KEY }}
                port: 1223
                script: |
                    cd /home/risam/web/elektrodukasi.id/
                    git pull
                    npm install
                    npm run build
                    pm2 restart elektrod